<%= render 'admin/header' %>

<main class="mt-5 mb-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>ジャンル追加</h1>
        <%= form_with model: @region, url: admin_region_genres_path, method: :post do |f| %>
          <%= f.label "ジャンル名" %><br>
          <%= f.text_field :region %><br>
          <%= f.submit "新規登録" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h1>ジャンル一覧</h1>
        <% @regions.each do |region| %>
          <%= region.region %>
          <%= link_to "編集", edit_admin_region_genre_path(region.id) %><br>
        <% end %>
      </div>
    </div>
  </div>
</main>



