<div>
  <h1>コメント詳細</h1>
  <%= image_tag @comment.review.shop.image, size: "300x300" %>
  <h2><%= @comment.review.shop.shop_name %></h2>
  <p><%= @comment.user.name %></p><br>
  <p><%= @comment.comment %></p><br>
  <li class="btn btn-outline-primary">
    <%= link_to "削除する", admin_comment_path(@comment.id), method: :delete %>
  </li>
</div>
