  <%= render 'admin/header' %>

  <main class="mt-5 mb-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <h4 class="bg-secondary px-3">管理者ログイン</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.label "メールアドレス" %><br>
            <%= f.label "パスワード" %>
          </div>
          <div class="col-md-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
            <%= f.password_field :password, autocomplete: "current-password" %><br>
            <%= f.submit "ログイン" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </main>




