<div>
  <h1>レビュー詳細</h1>
  <%= image_tag @review.shop.image, size: "300x300" %>
  <h2><%= @review.shop.shop_name %></h2>
  <p><%= link_to @review.user.name, user_path(@review.user.id) %></p>
  <p><%= @review.review %></p><br>
  <p><%= @review.rate %>点</p>
</div>

<div>
  <p>コメント件数：<%= @review.comments.count %></p>
  <% @review.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.favorited_by?(current_user) %>
    <p>
      <%= link_to review_comment_comment_favorites_path(comment.review, comment), method: :delete do %>
        ♥<%= comment.comment_favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to review_comment_comment_favorites_path(comment.review, comment), method: :post do %>
        ♡<%= comment.comment_favorites.count %> いいね
      <% end %>
    </p>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@review, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>