<%= render 'public/header' %>

<main class="mt-5 mb-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <h2 class="bg-primary px-3">新規会員登録</h2>
          <%= render "public/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label "名前" %><br />
          <%= f.label "メールアドレス" %><br />
          <%= f.label "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.label "パスワード（確認用）" %><br />
        </div>
        <div class="col-md-8">
          <%= f.text_field :name %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
          <%= f.password_field :password, autocomplete: "new-password" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
          <%= f.submit "登録" %>
        </div>
      </div>
    </div>
  <% end %>
</main>
