<h1>ユーザー詳細</h1>

<p>名前</p>
<%= @user.name %><br>
<p>メールアドレス</p>
<%= @user.email %><br>
<p>ステータス</p>
<% if @user.is_active == true %>
  <%= "有効" %>
<% else %>
  <%= "退会" %>
<% end %><br>
<%= link_to "編集", edit_admin_user_path(@user.id) %>