<%= render 'admin/header' %>

<main class="mt-5 mb-auto">
  <div class="container">
    <div class="row my-3">
      <div class="col-auto">
        <h4 class="bg-secondary px-3">ユーザー詳細</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>名前</p><br>
        <p>メールアドレス</p><br>
        <p>ステータス</p>
      </div>
      <div class="col-md-8">
        <p><%= @user.name %></p><br>
        <p><%= @user.email %></p><br>
        <p><% if @user.is_active == true %>
            <%= "有効" %>
           <% else %>
            <%= "退会" %>
           <% end %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to "編集する", edit_admin_user_path(@user.id) %>
        </button>
      </div>
    </div>
  </div>
</main>
