<%= render 'public/header' %>

<main class="mt-5 mb-auto">
  <%= form_with model: @user do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <h2 class="bg-primary px-3">会員情報編集</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label "名前" %><br />
          <%= f.label "メールアドレス" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
          <%= f.submit "更新" %>
        </div>
      </div>
    </div>
  <% end %>
</main>


